.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.grid-container > .item {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: box-shadow 0.5s;
}

.grid-container > .item:hover {
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%);
}

.grid-container .product-name {
  text-align: left;
  color: #111;
  font-weight: bold;
  padding: 16px 0;
  font-size: 20px;
}

.grid-container .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-container .product-price {
  color: #0050b3;
  font-size: 16px;
  font-weight: bold;
}

.grid-container button.add-cart {
  border: none;
  background-color: #1890ff;
  border-radius: 4px;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.grid-container button.add-cart:hover {
  background: #0050b3;
}
