* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

#section-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 64%);
}

#section-carousel {
  margin-top: 47px;
}

#section-products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4%;
}

footer {
  padding: 20px;
  color: grey;
  font-size: 12px;
}
